@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
  
}

 body {
  overflow: hidden;
}

.backgrounds {
  background-image: linear-gradient(60deg,#000, #410101,#000,#000,#000,#000,#123,#000,#000, #000, #2a0052);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.welcomingtext {
  color: white;
  z-index: 5;
  position: absolute;
  left: 50%;
  top: 50px;
  font-size: 30px;
  transform: translateX(-50%);
  text-align: center;
}
.logoz {
  position: absolute;
  top: -50px;
  left: 10%;
  transform: translateX(-50%);
  width: 500px;
  z-index: 1;
}

/*Login Page*/
.login-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #444;
  border: 1px solid white;
  border-radius: 15px;
  width: 500px;
  height: 700px;
}

.login-box {
  position: absolute;
  background: #222;
  height: 600px;
  width: 450px;
  border-radius: 10px;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
}

.login-container h2 {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 45px;
}

.login-box input {
  position: relative;
  margin-top: 30px;
  padding: 20px;
  font-size: 15px;
  left: 50%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid white;
  transform: translateX(-50%);
  color: white;
  transition: all 0.5s;
} 

.login-box button {
  position: absolute;
  top: 300px;
  padding: 15px;
  left: 50%;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid white;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  transform: translateX(-50%);
  border-radius: 10px;
  transition: all 0.2s;
}

.login-box button:hover {
  border: 1px solid rgb(0, 201, 0);
  color:rgb(0, 201, 0);
  border-radius: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.login-box p {
  position: relative;
  top: 10px;
  font-size: 10px;
  left: 80px;
  color: rgb(170, 170, 170);
}

.login-box div {
  background: white;
  width: 450px;
  height: 1px;
  position: absolute;
  top: 500px;
}

.login-box b {
  position: absolute;
  top: 550px;
  text-align: center;
  color: white;
  left: 10px;
}

/*register page*/
.register-box {
  position: absolute;
  background: #222;
  height: 600px;
  width: 450px;
  border-radius: 10px;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
}

.register-box input {
  position: relative;
  margin-top: 30px;
  padding: 20px;
  font-size: 15px;
  left: 50%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid white;
  transform: translateX(-50%);
  color: white;
  transition: all 0.5s;
} 

.register-box div .status {
  position: absolute;
  top: -215px;
  left: 50px;
  font-size: 15px;
  color: white;
}

.register-box div .sections {
  position: absolute;
  top: -165px;
  left: 50px;
  font-size: 15px;
  color: white;
}

.register-box #register-title {
  position: absolute;
  left: 170px;
  top: 275px;
  background: #222;
  padding: 10px;
  color: white;
  border-radius: 20px;
  width: 165px;
}

.register-box #register-section {
  position: absolute;
  left: 170px;
  top: 325px;
  width: 165px;
  background: #222;
  padding: 10px;
  color: white;
  border-radius: 20px;
}

.register-box button {
  position: absolute;
  top: 425px;
  padding: 15px;
  left: 50%;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid white;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  transform: translateX(-50%);
  border-radius: 10px;
  transition: all 0.2s;
}

.register-box button:hover {
  border: 1px solid rgb(0, 201, 0);
  color:rgb(0, 201, 0);
  border-radius: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.register-box p {
  position: relative;
  top: 125px;
  font-size: 10px;
  left: 90px;
  color: rgb(170, 170, 170);
  width: 400px;
}

.register-box div {
  background: white;
  width: 450px;
  height: 1px;
  position: absolute;
  top: 500px;
}

.register-box b {
  position: absolute;
  top: 550px;
  text-align: center;
  color: white;
  left: 10px;
}
/*Notifier*/

.customNotifier {
  position: absolute;
  animation: popup1 10s linear;
  animation-delay: 3s;
  left: -410px;
}

.customNotifier .iconoftext {
  font-size: 150px;
  position: relative;
  top: 190px;
  text-shadow: 0 0 10px white, 0 0 15px white;
  z-index: 2;
  animation: up-down-face 10s;
  animation-delay: 3s;
}

.customNotifier .sometext{
  color: white;
  position: relative;
  top: 0;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 200px;
  font-size: 20px;
  width: 405px;
  border: 2px solid white;
  border-radius: 20px;
  background: #000;
  font-family: 'Press Start 2P', cursive;
}

@keyframes popup1 {
  0% {
    left: -410px;
  } 2% {
    left: 10px;
  } 99.9% {
    left: 10px;
  }
  100% {
    left: -410;
  }
}

@keyframes up-down-face {
  0% {
    top: 175px;
  }
  15% {
    top: 195px;
  }
  35% {
    top: 175px;
  } 
  55% {
    top: 195px;
  }
  75% {
    top: 175px;
  }
  90% {
    top: 195px;
  }
  100% {
    top: 175px;
  }
}

 .corruptedprompt{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
  }
  .corruptedprompt .text{
    position: relative;
    color: #d1d1d1;
    font-weight: 700;
    font-size: 45px;
    transform: scale(2);
    padding: 30px;
    top: 5px;
    left: 120px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .corruptedprompt .text2{
    position: relative;
    color: #fff;
    text-shadow: 0.05em 0 0 rgb(255, 0, 43), -0.025em 0 0 rgb(1, 211, 1), -0.03em 1.5px 0 rgb(0, 102, 255);
    font-weight: 700;
    font-size: 45px;
    top: 70px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .corruptedprompt .text:before,
  .corruptedprompt .text:after {
    padding: 30px;
    color: white;
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: hidden;
    top: 0;
  }
  .corruptedprompt .text:before{
    left: 3px;
    text-shadow: -2px 0 red;
    animation: glitch-1 2s linear infinite reverse;
  }
  .corruptedprompt .text:after{
    left: -3px;
    text-shadow: -2px 0 blue;
    animation: glitch-2 2s linear infinite reverse;
  }
  @keyframes glitch-1 {
    0% {
      clip: rect(132px, auto, 101px, 30px);
    }
    5% {
      clip: rect(17px, auto, 94px, 30px);
    }
    10% {
      clip: rect(40px, auto, 66px, 30px);
    }
    15% {
      clip: rect(87px, auto, 82px, 30px);
    }
    20% {
      clip: rect(137px, auto, 61px, 30px);
    }
    25% {
      clip: rect(34px, auto, 14px, 30px);
    }
    30% {
      clip: rect(133px, auto, 74px, 30px);
    }
    35% {
      clip: rect(76px, auto, 107px, 30px);
    }
    40% {
      clip: rect(59px, auto, 130px, 30px);
    }
    45% {
      clip: rect(29px, auto, 84px, 30px);
    }
    50% {
      clip: rect(22px, auto, 67px, 30px);
    }
    55% {
      clip: rect(67px, auto, 62px, 30px);
    }
    60% {
      clip: rect(10px, auto, 105px, 30px);
    }
    65% {
      clip: rect(78px, auto, 115px, 30px);
    }
    70% {
      clip: rect(105px, auto, 13px, 30px);
    }
    75% {
      clip: rect(15px, auto, 75px, 30px);
    }
    80% {
      clip: rect(66px, auto, 39px, 30px);
    }
    85% {
      clip: rect(133px, auto, 73px, 30px);
    }
    90% {
      clip: rect(36px, auto, 128px, 30px);
    }
    95% {
      clip: rect(68px, auto, 103px, 30px);
    }
    100% {
      clip: rect(14px, auto, 100px, 30px);
    }
  }
  @keyframes glitch-2 {
    0% {
      clip: rect(129px, auto, 36px, 30px);
    }
    5% {
      clip: rect(36px, auto, 4px, 30px);
    }
    10% {
      clip: rect(85px, auto, 66px, 30px);
    }
    15% {
      clip: rect(91px, auto, 91px, 30px);
    }
    20% {
      clip: rect(148px, auto, 138px, 30px);
    }
    25% {
      clip: rect(38px, auto, 122px, 30px);
    }
    30% {
      clip: rect(69px, auto, 54px, 30px);
    }
    35% {
      clip: rect(98px, auto, 71px, 30px);
    }
    40% {
      clip: rect(146px, auto, 34px, 30px);
    }
    45% {
      clip: rect(134px, auto, 43px, 30px);
    }
    50% {
      clip: rect(102px, auto, 80px, 30px);
    }
    55% {
      clip: rect(119px, auto, 44px, 30px);
    }
    60% {
      clip: rect(106px, auto, 99px, 30px);
    }
    65% {
      clip: rect(141px, auto, 74px, 30px);
    }
    70% {
      clip: rect(20px, auto, 78px, 30px);
    }
    75% {
      clip: rect(133px, auto, 79px, 30px);
    }
    80% {
      clip: rect(78px, auto, 52px, 30px);
    }
    85% {
      clip: rect(35px, auto, 39px, 30px);
    }
    90% {
      clip: rect(67px, auto, 70px, 30px);
    }
    95% {
      clip: rect(71px, auto, 103px, 30px);
    }
    100% {
      clip: rect(83px, auto, 40px, 30px);
    }
  }

 .menu {
    position: absolute;
    top: 475px;
    width: 360px;
    background: rgba(255, 255, 255, 0.1);
    height: 470px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    font-family: 'Press Start 2P', cursive;
}

 .menu a{
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    margin-top: 8px;
    padding-left: 15px;
    transition: all 0.2s ease;
    width: 350px;
}

 .menu a:hover {
  padding-left: 75px;
  width: 400px;
  box-shadow: 5px 0 5px 0 white;
  background: url();
}

 .menu .play {
  position: relative;
  font-family: 'Press Start 2P', cursive;
  background: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  color: white;
  font-size: 70px;
  display: flex;
  margin-top: 8px;
  transition: all 0.2s ease;
  width: 350px;
}

 .menu .play:hover {
  text-shadow: 0.05em 0 0 rgb(255, 0, 43), -0.025em 0 0 rgb(1, 211, 1), -0.03em 1.5px 0 rgb(0, 102, 255);
  background: url(playbutt.jpg);
  }

 .menu .prof:hover {
  text-shadow: 0.05em 0 0 rgb(255, 0, 43), -0.025em 0 0 rgb(1, 211, 1), -0.03em 1.5px 0 rgb(0, 102, 255);
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDpRWWQG8sw8fC6Y4lisK5aZdmQuYRBTaNyg&s);
}

 .menu .sett:hover {
  text-shadow: 0.05em 0 0 rgb(255, 0, 43), -0.025em 0 0 rgb(1, 211, 1), -0.03em 1.5px 0 rgb(0, 102, 255);
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdeUBaKA3x7Xv7Nid7-a6cfuH8pP7ayg3VdA&s);
}

 .menu .lead:hover {
  text-shadow: 0.05em 0 0 rgb(255, 0, 43), -0.025em 0 0 rgb(1, 211, 1), -0.03em 1.5px 0 rgb(0, 102, 255);
  background: url(https://static.vecteezy.com/system/resources/previews/026/822/529/non_2x/binary-number-blockchain-random-pattern-on-dark-blue-gradient-background-with-wave-lines-vector.jpg);
}

 .menu .cred:hover {
  text-shadow: 0.05em 0 0 rgb(255, 0, 43), -0.025em 0 0 rgb(1, 211, 1), -0.03em 1.5px 0 rgb(0, 102, 255);
  background: url(https://png.pngtree.com/thumb_back/fh260/background/20201101/pngtree-abstract-technology-binary-codes-and-shapes-background-image_455425.jpg);
}

 .sources {
  position: relative;
  top: 760px;
  left: 10px;
  border-radius: 5px;
}

 .sources img {
  margin-left: 10px;
}

 .sources .fb:hover {
  border-radius: 50%;
  box-shadow: 0 0 5px cyan, 0 0 20px blue;
}

 .sources .github:hover {
  border-radius: 50%;
  box-shadow: 0 0 5px white, 0 0 20px white;
}

 /* SMALL DI- */
@media (max-width: 1024px) {
  .text, .text2 {
      font-size: 2.5rem;
  }
  
  .menu ul li a {
      font-size: 1.3rem;
      padding: 8px 15px;
  }
}

 /* Silpon */
@media (max-width: 768px) {
  .text, .text2 {
      font-size: 2rem;
  }

   .menu ul {
      flex-direction: column;
      padding: 0;
  }

   .menu ul li {
      width: 100%;
      text-align: center;
  }

   .menu ul li a {
      font-size: 1.2rem;
      padding: 10px;
      width: 80%;
  }
}

 /* Small Screens */
@media (max-width: 480px) {
  .text, .text2 {
      font-size: 1.5rem;
  }

   .menu ul li a {
      font-size: 1rem;
      padding: 8px;
      width: 90%;
  }
}

.playMenu, .settingsMenu, .leaderboardMenu, .creditsMenu {
  border: 1px solid purple;
  display: none;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 1000px;
  height: 700px;
  color: white;
  justify-content: space-between;
  background: #222;
  text-align: center;
}

.profileMenu {
  border: 1px solid white;
  display: none;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 1000px;
  height: 700px;
  color: white;
  background: #222;
}

.profileMenu .container {
  position: absolute;
  background: #1a1a1a;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 980px;
  height: 600px;
  margin-top: 40px;
  border-radius: 20px;
  border-bottom: 2px rgb(82, 82, 82) solid;
}

.container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 30px;
  left: 30px;
  position: absolute;
}

.container label {
  display: block;
  width: 225px;
  color: white;
  padding: 12px;
  margin: 10px auto;
  cursor: pointer;
  background: #777;
  position: absolute;
  top: 250px;
  border-radius: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.container input {
  display: none;
}


.playMenu.show, .profileMenu.show, .settingsMenu.show, .leaderboardMenu.show, .creditsMenu.show {
  display: flex;
}

.menu .play.active, .menu .profile.active, .menu .settings.active, .menu .leaderboard.active, .menu .credits.active {
  background: #444;
}

.profile.active {
  box-shadow: 0 0 10px red;
}

.profileMenu .titleName, .settingsMenu .titleName, .leaderboardMenu .titleName, .creditsMenu .titleName {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  padding-top: 25px;
  text-align: center;
  font-size: 50px;
}


.playMenu .selects {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  padding-top: 25px;
  text-align: center;
  font-size: 50px;
}

.QUIZMODE {
  position: relative;
  width: 350px;
  height: 500px;
  background: #f00;
  display: flex;
  left: 80px;
  top: 50px;
  justify-content: center;
  align-items: center;
}

.QUIZMODE::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg,#03f4cc,#ff0058);
  text-align: center;
}

.QUIZMODE::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg,#03f4cc,#ff0058);
  transition: all 0.09s ease;
}

.QUIZMODE b {
  position: absolute;
  inset: 6px;
  background: url(glitchbackground1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -400px;
  z-index: 2;
}

.QUIZMODE h2 {
  z-index: 3;
  position: relative;
  top: 0;
  color: #ff0058;
  transition: all 0.2s ease;
}

.QUIZMODE p {
  z-index: 3;
  position: absolute;
  top: 270px;
  opacity: 0;
  color: #03f4cc;
  transition: all 0.2s ease;
  background: rgba(0, 0, 0, 0.2);
  padding: 5px;
  width: 300px;
}

/*difficulties */
.difficultiesMenu {
  border: 1px solid purple;
  display: flex;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 1250px;
  height: 700px;
  color: white;
  justify-content: space-between;
  background: #222;
  text-align: center;
}
.difficultiesMenu .selects {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  padding-top: 25px;
  text-align: center;
  font-size: 50px;
}

.difficultiesMenu div {
  top: 150px;
}

.difficultiesMenu h2 {
  position: relative;
}

.difficultiesMenu div:hover h2 {
  top: -30px;
  scale: 1.4;
}

.difficultiesMenu div:hover p {
  opacity: 1;
}

.difficultiesMenu .Normal:hover::after {
  filter: blur(10px);
}

.difficultiesMenu .Moderate:hover::after {
  filter: blur(10px);
}


.difficultiesMenu .Moderate:hover h2{
  color: red;
}

.difficultiesMenu .Moderate:hover p{
  text-shadow: 0 0 10px black, 0 0 15px black, 0 0 20px black;
}


/*Normal Level */
.Normal {
  position: absolute;
  width: 350px;
  height: 500px;
  background: #000;
  display: flex;
  left: 80px;
  top: 50px;
  justify-content: center;
  align-items: center;
}

.Normal::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(240deg,#07dd23,#00ff80, #07dd23);
  text-align: center;
}

.Normal::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(240deg,#07dd23,#00ff80, #07dd23);
  transition: all 0.09s ease;
}

.Normal b {
  position: absolute;
  inset: 6px;
  background: url(https://c4.wallpaperflare.com/wallpaper/258/501/244/pixel-art-hyper-light-drifter-video-games-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -120px;
  z-index: 2;
}

.Normal h2 {
  z-index: 3;
  position: relative;
  top: 0;
  transition: all 0.2s ease;
}

.Normal p {
  z-index: 3;
  position: absolute;
  top: 270px;
  opacity: 0;
  transition: all 0.2s ease;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding: 5px;
  width: 300px;
}

/*Moderate*/

.Moderate {
  position: absolute;
  width: 350px;
  height: 500px;
  background: #f00;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  justify-content: center;
  align-items: center;
}

.Moderate::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#fbff00, #ff6600, #fbff00);
  text-align: center;
}

.Moderate::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#fbff00, #ff6600, #fbff00);
  transition: all 0.09s ease;
}

.Moderate b {
  position: absolute;
  inset: 6px;
  background: url(https://image.api.playstation.com/cdn/UP0322/CUSA04570_00/NVUY7cNulPACX3zr5nYfEp5Jl74y0qIn.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -400px;
  z-index: 2;
}

.Moderate h2 {
  z-index: 3;
  position: relative;
  top: 0;
  transition: all 0.2s ease;
}

.Moderate p {
  z-index: 3;
  position: absolute;
  top: 270px;
  opacity: 0;
  transition: all 0.2s ease;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding: 5px;
  width: 300px;
}

/*Hardcore*/

.Hardcore {
  position: absolute;
  width: 350px;
  height: 500px;
  background: #f00;
  display: flex;
  right: 80px;
  top: 50px;
  justify-content: center;
  align-items: center;
}

.Hardcore::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg,#000000,#ff0000,#ffffff,#ff0000,#000000);
}

.Hardcore::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg,#000000,#ff0000,#ffffff,#ff0000,#000000);
  transition: all 0.09s ease;
}

.Hardcore b {
  position: absolute;
  inset: 6px;
  background: url(https://c4.wallpaperflare.com/wallpaper/258/501/244/pixel-art-hyper-light-drifter-video-games-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -120px;
  z-index: 2;
}

.Hardcore h2 {
  z-index: 3;
  position: relative;
  top: 0;
  transition: all 0.2s ease;
}

.Hardcore p {
  z-index: 3;
  position: absolute;
  top: 270px;
  opacity: 0;
  transition: all 0.2s ease;
  color: red;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding: 5px;
  width: 300px;
}

/* Language Menu */
.languageMenu {
  border: 1px solid purple;
  display: flex;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 1250px;
  height: 700px;
  color: white;
  justify-content: space-between;
  background: #222;
  text-align: center;
}
.languageMenu .selects {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  padding-top: 25px;
  text-align: center;
  font-size: 50px;
}

.languageMenu div {
  top: 150px;
}

.languageMenu h2 {
  position: relative;
}

.languageMenu div:hover h2 {
  top: -30px;
  scale: 1.4;
}

.languageMenu div:hover p {
  opacity: 1;
}

.languageMenu .java:hover::after {
  filter: blur(10px);
}

.languageMenu .html:hover::after {
  filter: blur(10px);
}

.languageMenu .html:hover p{
  text-shadow: 0 0 10px black, 0 0 15px black, 0 0 20px black;
}


/*Normal Level */
.java {
  position: absolute;
  width: 350px;
  height: 500px;
  background: #000;
  display: flex;
  left: 80px;
  top: 50px;
  justify-content: center;
  align-items: center;
}

.java::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(240deg,#07dd23,#00ff80, #07dd23);
  text-align: center;
}

.java::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(240deg,#07dd23,#00ff80, #07dd23);
  transition: all 0.09s ease;
}

.java b {
  position: absolute;
  inset: 6px;
  background: url(https://c4.wallpaperflare.com/wallpaper/258/501/244/pixel-art-hyper-light-drifter-video-games-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -120px;
  z-index: 2;
}

.java h2 {
  z-index: 3;
  position: relative;
  top: 0;
  transition: all 0.2s ease;
}

.java p {
  z-index: 3;
  position: absolute;
  top: 270px;
  opacity: 0;
  transition: all 0.2s ease;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding: 5px;
  width: 300px;
}

/*Moderate*/

.html {
  position: absolute;
  width: 350px;
  height: 500px;
  background: #f00;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  justify-content: center;
  align-items: center;
}

.html::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#fbff00, #ff6600, #fbff00);
  text-align: center;
}

.html::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#fbff00, #ff6600, #fbff00);
  transition: all 0.09s ease;
}

.html b {
  position: absolute;
  inset: 6px;
  background: url(https://image.api.playstation.com/cdn/UP0322/CUSA04570_00/NVUY7cNulPACX3zr5nYfEp5Jl74y0qIn.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -400px;
  z-index: 2;
}

.html h2 {
  z-index: 3;
  position: relative;
  top: 0;
  transition: all 0.2s ease;
}

.html p {
  z-index: 3;
  position: absolute;
  top: 270px;
  opacity: 0;
  transition: all 0.2s ease;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding: 5px;
  width: 300px;
}

/*Hardcore*/

.css {
  position: absolute;
  width: 350px;
  height: 500px;
  background: #f00;
  display: flex;
  right: 80px;
  top: 50px;
  justify-content: center;
  align-items: center;
}

.css::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg,#000000,#ff0000,#ffffff,#ff0000,#000000);
}

.css::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg,#000000,#ff0000,#ffffff,#ff0000,#000000);
  transition: all 0.09s ease;
}

.css b {
  position: absolute;
  inset: 6px;
  background: url(https://c4.wallpaperflare.com/wallpaper/258/501/244/pixel-art-hyper-light-drifter-video-games-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -120px;
  z-index: 2;
}

.css h2 {
  z-index: 3;
  position: relative;
  top: 0;
  transition: all 0.2s ease;
}

.css p {
  z-index: 3;
  position: absolute;
  top: 270px;
  opacity: 0;
  transition: all 0.2s ease;
  color: red;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding: 5px;
  width: 300px;
}

/* play Menu */
.playMenu div {
  top: 150px;
}

.playMenu h2 {
  position: relative;
}

.playMenu div:hover h2 {
  top: -30px;
  scale: 1.4;
}

.playMenu div:hover p {
  opacity: 1;
}

.playMenu .QUIZMODE:hover::after {
  filter: blur(10px);
}

.playMenu .CHALLENGEMODE:hover::after {
  filter: blur(10px);
}

.difficultiesMenu .Moderate:hover::after {
  filter: blur(10px);
}

.difficultiesMenu .Hardcore:hover::after {
  filter: blur(10px);
}

.languageMenu .html:hover::after {
  filter: blur(10px);
}

.languageMenu .css:hover::after {
  filter: blur(10px);
}


.playMenu .CHALLENGEMODE:hover h2{
  color: red;
}

.playMenu .CHALLENGEMODE:hover p{
  text-shadow: 0 0 10px black, 0 0 15px black, 0 0 20px black;
}

.CHALLENGEMODE {
  position: relative;
  width: 350px;
  height: 500px;
  background: #f00;
  display: flex;
  right: 80px;
  top: 50px;
  justify-content: center;
  align-items: center;
}

.CHALLENGEMODE::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg,#ff7b00,#ff0058);
}

.CHALLENGEMODE::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg,#ff0058,#ff7b00);
  transition: all 0.09s ease;
}

.CHALLENGEMODE b {
  position: absolute;
  inset: 6px;
  background: url(https://c4.wallpaperflare.com/wallpaper/258/501/244/pixel-art-hyper-light-drifter-video-games-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -120px;
  z-index: 2;
}

.CHALLENGEMODE h2 {
  z-index: 3;
  position: relative;
  top: 0;
  transition: all 0.2s ease;
}

.CHALLENGEMODE p {
  z-index: 3;
  position: absolute;
  top: 270px;
  opacity: 0;
  transition: all 0.2s ease;
  color: red;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding: 5px;
  width: 300px;
}

.menu a {
  transition: all 0.2s ease;
}

.menu a:hover, 
.menu a.active {
  text-shadow: 0.05em 0 0 rgb(255, 0, 43), 
                 -0.025em 0 0 rgb(1, 211, 1), 
                 -0.03em 1.5px 0 rgb(0, 102, 255);
  padding-left: 75px;
  width: 400px;
  box-shadow: 5px 0 5px 0 white;
  background-size: cover;
  background-position: center;
}

.menu .play.active {
  background: url(playbutt.jpg);
}

.menu .profile.active {
  background: url(profilebutt.jpg);
}

.menu .profile:hover {
  background: url(profilebutt.jpg);
}


.menu .settings.active {
  background: url(settingsbutt.jpg);
}

.menu .settings:hover {
  background: url(settingsbutt.jpg);
}


.menu .leaderboard.active {
  background: url(leaderbutt.jpg);
}
.menu .leaderboard:hover {
  background: url(leaderbutt.jpg);
}

.menu .credits.active {
  background: url(creditbutt.jpg);
}
.menu .credits:hover {
  background: url(creditbutt.jpg);
}

/*Profile*/
.profileMenu .container button {
  position: absolute;
  bottom: 50px;
  width: 120px;
  height: 30px;
  left: 50%;
  color: white;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.1);
  border: none;
  transition: all 0.2s;
  border: 1px solid white;
}

.profileMenu .container button:hover {
  border: 1px solid red;
}

.profileLayout {
  background: rgba(0, 0, 0, 0.4);
  height: 575px;
  width: 250px;
  border-radius: 30px;
  top: 10px;
  z-index: 1;
  left: 30px;
  border: 1px solid white;
  position: absolute;
  text-align: center;
}

.profileLayout img {
  border-radius: 50%;
  border: 2px solid white;
}

.name-text {
  position: relative;
  top: 330px;
  font-size: 13px;
  text-align: center;
  z-index: 3;
}

.profile-name {
  position: relative;
  top: 325px;
  left: 50%;
  transform: translateX(-50%);
  background: #222;
  width: 200px;
  padding: 15px;
  font-size: 20px;
}

.sec-text {
  position: relative;
  top: 330px;
  font-size: 13px;
  text-align: center;
  z-index: 3;
}

.profile-section {
  position: relative;
  top: 325px;
  left: 50%;
  transform: translateX(-50%);
  background: #222;
  width: 200px;
  padding: 15px;
  font-size: 20px;
}

.stats {
  position: absolute;
  width:  675px;
  height: 575px;
  border-radius: 30px;
  top: 10px;
  left: 30%;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid white;
}

.stats p{
  position: relative;
  width: 625px;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 30px;
  left: 30px;
  margin-top: 10px;
}

.borderz{
  color: #111;
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.borderz .border1 {
  width:  210vh;
  background: yellow;
  position: absolute;
  height: 0.5px;
  top: 0;
  left: 0;
}